<div class="centre">
  <h2>Dashi Equestrian</h2>
  <br />
  <p>
    Having spent many years with horses and equestrian professionals, all of us
    experiencing the never ending list of little jobs to be done but never
    having time to get around to doing them. <br /><br />
    We took the decision to set up our small home-run business, helping others
    by servicing their numerous equestrian joinery needs. It’s difficult to get
    any trades-person to come out and do little odd jobs, fix broken fences, put
    up new hay bars etc, but we can visit your yard and we offer a reasonable
    hourly rate for completing any size list of maintenance jobs.
    <br /><br />
    Watching all the new trends of jumps and cavaletti's, all that were only
    available at extortionate prices, we came up with a few affordable designs
    ourselves to offer some inspiration. We did some surveys and found that,
    like us, potential clients have their own designs in mind, so we put in
    place a service whereby anyone could send us their own designs, which we
    could then build - Show jumps, Hunter jumps, xcountry fences - no design
    will ever be turned away again. <br /><br />
    Dave has a passion for joinery and working with timber, and it's true that
    wood products are a pleasure to have around horses too. We thought of a
    whole new range of artifacts that will make life a little bit easier - look
    out for our Grooms cabinet, a bit of a brain wave (or moment of insanity)
    that is currently awaiting a patent before we release it. Owning a very old,
    but much loved 7.5t wagon, with little hope of replacing it anytime soon,
    we’ve decided to do a little bit of internal renovation - again we thought,
    if it was affordable, this would be a service others may be interested in.
    As soon as we have photos, we will share with you what we’ve done.
    <br /><br />
    We will have all our products and services to view on here as soon as we
    have pictures.
  </p>
  <br />
  <h4>Dave and Shirley</h4>
</div>
