<div class="container-text">
  <h2>Welcome to Dashi Equestrian!</h2>
  <br />
  <p>
    We are a small home-run business, servicing all your equestrian Joinery
    needs. We can visit your yard and offer affordable hourly rates for
    maintenance jobs including repairs to stables, repairs or erection of post
    and rail fencing, installation of custom made hay bars and much more.
  </p>
  <br />
  <p>
    We build jumps and cavaletti's which you can choose from one of our unique
    designs or send us your own design and we will build them for you.
  </p>
  <br />
  <p>
    For more details or to arrange a yard visit, contact us on:
  </p>
  <p>
    <i class="fa fa-phone"></i>07912865198
    <br />
    <i class="fa fa-envelope"></i>shirley@dashiequestrian.co.uk
  </p>

  <p>Many thanks for visiting us today.</p>

  <br />
  <h4>Dave and Shirley</h4>
</div>
