<div class="toolbar">
  <div class="spacer">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon style="opacity: 0.8; color: #333;">menu</mat-icon>
    </button>
  </div>

  <div id="content-desktop" class="spacer center">
    <a class="links" href="/about">About</a>
  </div>
  <div class="spacer center" style="margin-top: 10px;">
    <a href="/home">
      <img
        src="../assets/images/logo.svg"
        width="140"
        height="140"
        alt="Dashi Logo"
        href="/home"
    /></a>
  </div>

  <div id="content-desktop" class="spacer center">
    <a class="links" href="/contact">Contact</a>
  </div>

  <a
    href="https://www.facebook.com/pg/Dashi-Equestrian-106476724156013/posts/"
    class="fa fa-facebook-square spacer"
  ></a>
</div>
