<div class="toolbar" role="banner">
  <div style="margin-left: 15px;" fxHide.gt-s>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="spacer center">
    <a class="links" href="/about">About</a>
  </div>
  <div style="margin-top: 10px;">
    <a href="/home">
      <img
        style="opacity: .8;"
        src="../assets/images/logo.svg"
        width="140"
        height="140"
        alt="Dashi Logo"
        href="/home"
    /></a>
  </div>

  <div class="spacer center">
    <a class="links" style="margin-left: 15px;" href="/contact">Contact</a>
  </div>

  <a
    href="https://www.facebook.com/pg/Dashi-Equestrian-106476724156013/posts/"
    class="fa fa-facebook-square"
  ></a>
</div>
