<html>
  <mat-sidenav-container autosize>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <mat-sidenav
      #sidenav
      mode="side"
      (click)="sidenav.close()"
      role="directory"
    >
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <body (click)="sidenav.close()">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </body>
    <app-footer id="content-desktop"></app-footer>
  </mat-sidenav-container>
</html>
