<div class="tnecnoc">
  <img
    style="opacity: 0.8;"
    class="centre"
    src="../../assets/images/dashiwriting.svg"
    alt="dashi image"
    height="200px"
    width="330px"
  />
  <div>
    <img
      (mouseover)="showText = true"
      id="image"
      class="centre"
      src="../../assets/images/horse.svg"
      alt="horse image"
      height="300px"
      width="427px"
    />
  </div>
</div>
<div *ngIf="showText === true" class="left-reveal">
  <img
    src="../../assets/images/coming.svg"
    alt="coming image"
    height="200px"
    width="360px"
  />
</div>
<div *ngIf="showText === true" class="right-reveal">
  <img
    src="../../assets/images/soon.svg"
    alt="soon image"
    height="150px"
    width="280px"
  />
</div>
